*{
    padding:none;
    margin:0;
}

body{
    background-color:yellow;

    
}

a{
    text-decoration: none;
    color:antiquewhite;
    margin:50px;
    text-align:center;
    opacity:1;
    transition-duration: 0.5s;
    text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white;
}

nav{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:45px;
    background-color:rgb(39, 36, 36,0.7);
    text-align: center;
    padding-top:15px;
    transition-duration: 0.5s;
    
}

.bgimage{
    position:relative;
    
    background-size: cover; 
    background-position: center;
}

a:hover{
    opacity: 1;
    color:yellow;
    text-shadow: 0 0 10px yellow, 0 0 20px yellow, 0 0 30px yellow;
}

.bgimage img {
    size:cover;
    width:100%;
    align-content: center;
    margin:none;
    
}
#stripimg{
    position:relative;
    
}

#stripimg img{
    size:cover;
    width:100%;
    display:block;
    align-items:center;
}

#maths {
    height: 300px;
    width: 300px;
    top:50px;
    background-color:white;
    position:absolute;
    background-image: url("minion_maths.jpg");
    align-items: center;
    justify-content: center;
    transition: 1s;
    background-position: center;
    background-size: cover;
    color:yellow;
    font-size: 30px;
} 
#maths:hover {
    font-size: 52px;
    background-color: yellow;
    background-image: url("minion_maths.jpg");
    background-size: cover;
    align-items: center;
    border-radius: 50%;
    color:yellow;
}



#english {
    height: 300px;
    width: 300px;
    top: 750px;
    right:20px;
    background-color:yellow;
    position:absolute;
    background-image: url("minion_eng.jpg");
    align-items: center;
    justify-content: center;
    transition: 1s;
    background-position: center;
    background-size: cover;
    color:yellow;
    border-radius:10px;
    
}


#english:hover{
    font-size: 52px;
    background-color: yellow;
    background-image: url("minion_eng.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    border-radius: 50%;
    color:darkblue;
}

#drawing{
    height: 300px;
    width: 300px;
    top:1450px;
    background-color:white;
    position:absolute;
    background-image: url("minion_drawing.jpg");
    align-items: center;
    justify-content: center;
    transition: 1s;
    background-position: center;
    background-size: cover;
    color:white;
    border-radius:10px;
} 
#drawing:hover {
    font-size: 52px;
    background-color: yellow;
    background-image: url("minion_drawing.jpg");
    background-size: cover;
    align-items: center;
    border-radius: 50%;
    color:yellow;
}

#maths_text{
    position:absolute;
    top: 60px;
    left:500px;
}

#english_text{
    position:absolute;
    top:60px;
    right :500px;;
}

#drawing_text{
    position: absolute;
    top:60px;
    left: 500px;
}